.fb-about-me__item, .fb-profile .profile__text, .textfield-contact-me {
  box-shadow: inset 0 0 5px 7px rgba(252, 255, 173, 0.3);
  background-color: #c0e2fe;
  margin: 0.6rem;
  padding: 0.6rem;
} 

/* ---------------------------------- */
/*            base settings           */
/* ---------------------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #a7d6fd;
  font-family: "Spectral", serif;
  font-weight: 500;
  line-height: 1.4;
  color: #24283c;
}

main {
  padding: 0.6rem;
  margin-top: 70px;
  margin-bottom: 150px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: 550;
}

a:visited {
  color: #3d05f7;
}
a:hover, a:focus {
  text-decoration: none;
}
a:active {
  color: #03acc3;
}

p {
  font-size: 1rem;
}

ul li {
  list-style-type: circle;
  text-align: left;
}

.textfield-contact-me {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

form {
  text-align: center;
}

svg {
  margin: 0 20%;
}

.textfield-contact-me {
  margin-top: 60px;
}

/* ---------------------------------- */
/*              page header           */
/* ---------------------------------- */
header {
  position: fixed;
  width: 100%;
  background: #c0e2fe;
  top: 0px;
  text-align: center;
  border-bottom: 0.05rem solid #bbb6b6;
}

.navigation-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.navigation-list li {
  display: inline-block;
  margin-left: 0.6rem;
}
.navigation-list .navigation-list__item--active {
  text-decoration: none;
}

/* ---------------------------------- */
/*              animations            */
/* ---------------------------------- */
.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: rgb(252, 255, 173);
  }
  100% {
    fill: #f76414;
  }
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
/* ---------------------------------- */
/*                buttons             */
/* ---------------------------------- */
.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  font-size: 0.9rem;
  /* style button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 3px;
  border-bottom: 0.2rem solid #bbb6b6;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* turn mouse into hand */
  cursor: pointer;
  opacity: 0.8;
}

.button2 {
  background-color: #b5f468;
  color: #24283c;
  font-weight: 600;
}

.button-center {
  width: 34%;
  margin-left: 33%;
  height: auto;
  text-align: center;
}

/* ---------------------------------- */
/*              containers            */
/* ---------------------------------- */
.fb-header {
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 0.6rem 0.2rem;
}
.fb-header .fb-header__item:first-child {
  margin: 0 auto 0 0.2rem;
}
.fb-header .fb-header__item:last-child {
  text-align: right;
  margin-right: 0.2rem;
}

.fb-profile {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.fb-profile__item {
  flex-grow: 1;
  margin: 7%;
}
.fb-profile .profile__portrait {
  border-radius: 50%;
}
.fb-about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.fb-about-me h2 {
  text-align: center;
  margin-top: 0;
}
.fb-about-me__item {
  margin: 1rem;
  padding: 1.5rem;
  flex-grow: 1;
  text-align: center;
}
.fb-about-me__item-child {
  width: 80%;
  margin-left: 10%;
}

.fb-footer__item:hover {
  transform: rotate(15deg);
  transition: all 0.3s ease-in-out 0s;
}

/* ---------------------------------- */
/*                  grids             */
/* ---------------------------------- */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.6rem;
}

.grid__item {
  background-color: #fffff2;
}
.grid__item h2,
.grid__item p {
  margin: 0.6rem;
}

.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* ---------------------------------- */
/*                tables              */
/* ---------------------------------- */
th, td {
  border-bottom: 1px solid #bbb6b6;
}

th {
  border-bottom: 0.05rem solid #357b70;
  padding: 0.6rem;
}

td {
  text-align: right;
  padding: 0.6rem 0.6rem 0 0;
}

tr:hover {
  background-color: #d9edfe;
}

.table-field-center {
  padding-right: 3em;
  text-align: right;
}

.table-field-left {
  padding-left: 2em;
  text-align: left;
}

/* ---------------------------------- */
/*              page footer           */
/* ---------------------------------- */
footer {
  text-align: center;
}
footer p {
  margin: 0.6rem 0 0;
}
footer .fb-footer {
  display: flex;
  width: 100%;
}
footer .fb-footer__item {
  width: 2rem;
  margin: 1rem;
}

/* ---------------------------------- */
/*           media queries            */
/* ---------------------------------- */
@media all and (max-width: 400px) {
  html {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  th {
    border-bottom: 0.05rem solid #357b70;
    padding: 0.05rem;
  }

  td {
    padding: 0.05rem 0.05rem 0 0;
  }

  tr:hover {
    background-color: #d9edfe;
  }

  .table-field-center {
    padding-right: 1em;
  }

  .table-field-left {
    padding-left: 1em;
    text-align: left;
  }

  .textfield-contact-me {
    width: 90%;
    margin-left: 5%;
  }

  .fb-about-me h2 {
    margin: 1rem 0.05rem;
  }
  .fb-about-me__item {
    margin: 0.6rem 0.05rem;
    padding: 0.6rem;
  }
  .fb-about-me__item-child {
    width: 94%;
    margin-left: 3%;
  }
}
@media all and (min-width: 400px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  html {
    font-size: 18px;
  }

  .fb-about-me__item {
    margin: 0.6rem 0.05rem;
    padding: 0.6rem;
  }
  .fb-about-me__item-child {
    width: 94%;
    margin-left: 3%;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 0.6rem;
  }

  .grid__item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  .fb-profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__portrait {
    width: 60%;
  }
}
@media all and (min-width: 750px) {
  .fb-profile {
    flex-direction: row;
    align-items: center;
  }
}
@media all and (min-width: 750px) and (max-width: 900px) {
  html {
    font-size: 20px;
  }
}
@media all and (max-width: 900px) {
  .fb-about-me {
    display: flex;
    flex-wrap: wrap;
  }
  .fb-about-me h2 {
    text-align: center;
  }
  .fb-about-me__item {
    font-size: 0.9rem;
  }
}
@media all and (min-width: 900px) {
  html {
    font-size: 22px;
  }
}

/*# sourceMappingURL=production.css.map */
