
/* ---------------------------------- */
/*              animations            */
/* ---------------------------------- */
.textlogo {
    font-family: "Podkova", serif;
    font-weight: 550;
    text-align: left;
    font-size: $huge;
    color: transparent;
    width: 8rem;
    padding-top: 0.12rem;
    padding-left: 1.2rem;

    border-bottom: $tiny $color-logo dashed;
    border-left: $tiny $color-logo dashed;
    border-radius: 50%;
    text-decoration: none;
    animation: glow 15s ease-in-out infinite;
}
  

@keyframes glow {
    0%      {color: $color-logo-animation1}
    3%      {color: $color-logo-animation1}
    8.5%    {color: $white}
    14%     {color: $color-logo-animation2}
    28%     {color: $color-logo-animation2}
    33.5%   {color: $white}
    39%     {color: $color-logo-animation3}
    54%     {color: $color-logo-animation3}
    58.5%   {color: $white}
    64%     {color: $color-logo-animation4}
    78%     {color: $color-logo-animation4}
    83.5%   {color: $white}
    89%     {color: $color-logo-animation1} 
    100%    {color: $color-logo-animation1}   
}
  
.sun {animation: 4s color-change infinite alternate linear}

.cloud-front {animation: 30s cloud-move infinite alternate linear}

.cloud-back {animation: 34s cloud-move-reverse infinite alternate linear}

@keyframes color-change {
    0%   {fill: $color-animation-1}
    50%  {fill: $color-animation-2}
    100% {fill: $color-animation-3}
}

@keyframes cloud-move {
    from {transform: translate(0, 50px)}
    to   {transform: translate(200px, 50px)}
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px, 48px)}
    to   {transform: translate(100px, 48px)}
}
