/* ---------------------------------- */
/*            base settings           */
/* ---------------------------------- */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


body {
    background-color: $color-page;
    font-family: "Spectral", serif;
    font-weight: 500;
    line-height: 1.4;
    color: $color-page-font;
}

main {
    padding: $small;
    margin-top: 70px;
    margin-bottom: 150px;
}

h1 {
    font-size: $large;
    font-weight: 600;
    text-align: center;
}

h2 {
    
    font-size: 1.3rem;
    font-weight: 550;
}

a {
    &:visited {
        color: $color-link-visited;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:active {
        color: $color-link-active;
    }
}

ul li{
    list-style-type: circle;
    text-align: left;
}

.textfield-contact-me{

    @extend %shadow;
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

form {
    text-align: center;
}

svg {
    margin: 0 20%;
}

.textfield-contact-me {
    margin-top: 60px;;
}