/* ---------------------------------- */
/*            base settings           */
/* ---------------------------------- */
* {
    box-sizing: border-box;
}

.main-background{
    background: url(../img/green_wall.jpg);
}

.canvas{
    background: 
        url(../img/canvas.jpg);
        background-size: 600px;

}

.main-frame{
    margin: 0 auto;
    width: 80%;
    min-width: 400px;
    max-width: 1000px;
}

html {
    font-size: 16px;
}

body {
    background-color: $color-page;
    font-family: "Podkova", serif;   
    line-height: 1.4;
}

main {
    padding: $small;
    margin-top: 70px;
    margin-bottom: 150px;
}

h1 {
    font-size: $large;
    font-weight: 600;
    text-align: center;
    color: $color-h1;
    margin-top: $large;
    background-color:$color-transparent-titlebackground;
       
}

h2 {    
    font-size: 1.3rem;
    font-weight: 550;
}

a {
    &:visited {
        color: $color-link-visited;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:active {
        color: $color-link-active;
    }
}

p {
    font-size: 1rem;
}

.textblock{
    @extend %shadow;
    @extend %textblock;
    background-color: $color-transparent-background;
}
.project-link{
    
    border-radius: 3px;
}
.project-link:hover{
    box-shadow: 0 0 20px 2px black;
}

ul li{
    list-style-type: circle;
    text-align: left;
}

.textfield-contact-me{
    @extend %shadow;
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 160px;
}

form {
    text-align: center;
}

svg {
    margin: 0 10% 0 65%;
}

.profile__portrait{  
    box-shadow: 1px -1px 5px 2px black;
}

.huge-letter{
    font-size:128px;
    font-weight:900;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
