/* ---------------------------------- */
/*              containers            */
/* ---------------------------------- */


.fb-header {
    display: flex;
    align-items: start;
    width: 100%;
    padding: $small $tiny ;

    .fb-header__item:first-child {
        height: 60px;
        margin: 0 auto 0 $tiny;
    }

    .fb-header__item:last-child {
        text-align: right;
        margin-right: $tiny;
    }
} 

.fb-profile {
    display: flex;
    align-items: start;
    margin-top: $medium;
    width: 100%;  
    height: auto;
    align-items: center;
    justify-content: center;
    &__item {
        flex-grow: 1;
        margin: 7%;
    }
    .profile__portrait {
        border-radius: 50%;
    }
    .profile__text {        
        @extend %shadow;
    }
}

.fb-about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    h2{
        text-align: center;
        margin-top: 0;
    }
    &__item {
        margin: $medium;
        padding: $large;
        flex-grow: 1;
        text-align: center;
        @extend %shadow;
        &-child {
            width: 80%;
            margin-left: 10%;
        }
    }
}

.fb-footer__item {
    &:hover {
        transform: rotate(15deg);
        transition: all 0.3s ease-in-out 0s;
    }
}
