/* ---------------------------------- */
/*              containers            */
/* ---------------------------------- */


.fb-header {
    display: flex;
    align-items: start;
    width: 100%;
    padding: $tiny $tiny 0.4rem;
    .fb-header__item:first-child {
        height: 60px;
        margin: 0 auto 0 $tiny;
    }
    .fb-header__item:last-child {
        text-align: right;
        margin-right: $tiny;
    }
}  

.fb-profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;  
    height: auto;
    align-items: center;
    justify-content: center;
    &__item {
        flex-grow: 1;
        margin: 3%;
        text-align: center;
    }
    .profile__portrait {
        border-radius: 50%;
        max-width: 300px;
    }
    .profile__text {        
        @extend %shadow;
        max-height: 300px;
    }
}

.fb-about-me {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    font-size: smaller;
    h2{
        text-align: center;
        margin-top: 0;
    }
    &__item {
        margin: 20px $medium;
        padding: $medium;
        flex-grow: 1;
        text-align: center;
        @extend %shadow;
        &-child {
            width: 95%;
            margin-left: 2.55%;
        }
    }
}


