/* ---------------------------------- */
/*              page footer           */
/* ---------------------------------- */
 

footer {
    color: $color-footer-font;
    text-align: center;
    background-color: $black;
    
    p {
        margin: $medium 0 0;
        padding: $small 0 0;
        background-color: $black;
    } 

    .fb-footer {
        display: flex;
        width: 100%;
        
    }

    .fb-footer__item {
        width: $huge;
        margin: $medium;
        &:hover {
            transform: rotate(15deg);
        }
    }
}
