/* ---------------------------------- */
/*              page footer           */
/* ---------------------------------- */


footer {
    position: fixed;
    width: 100%;
    background: $color-shadow-face;
    bottom: 0px;
    text-align: center;
    border-top: $nano solid $noble;
    p {
        margin: $small 0 0;
    }


    .fb-footer {
        display: flex;
        width: 100%;
    }

    .fb-footer__item {
        width: $huge;
        margin: $medium;
    }
}
