/* ---------------------------------- */
/*                  grids             */
/* ---------------------------------- */

.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $small;
}
    
.grid__item {
    background-color: $color-grid;

    h2,
    p {
        margin: $small;
    }        
}

.grid__item:last-child {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}