/* ---------------------------------- */
/*              page header           */
/* ---------------------------------- */

header {
    position: fixed;
    top: 0px;
    background: $black;
}

.navigation-list {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    

    li {
        display: inline-block;
        margin-left: $small;
        
    }

    .navigation-list__item{
        color: $color-header-font;
    }

    .navigation-list__item--active {
        text-decoration: none;
    }
}
