/* ---------------------------------- */
/*           media queries            */
/* ---------------------------------- */
@media all and (max-width: 400px) {

    html {
        font-size: 12px;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    th {
        border-bottom: $nano solid $color-table-border;
        padding: $nano;
    }

    td {
        padding: $nano $nano 0 0;
    }

    tr:hover {
        background-color: $color-highlight-row;
    }

    .table-field-center {
        padding-right: 1em;
    }

    .table-field-left {
        padding-left: 1em;
        text-align: left;
    }

    .textfield-contact-me {
        width: 90%;
        margin-left: 5%;
    }

    .fb-about-me {

        h2 {
            margin: $medium $nano;
        }

        &__item {

            margin: $small $nano;
            padding: $small;

            &-child {
                width: 94%;
                margin-left: 3%;
            }
        }
    }
}

@media all and (min-width: 400px) and (max-width: 750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    html {
        font-size: 18px;
    }

    .fb-about-me {
        &__item {
            margin: $small $nano;
            padding: $small;

            &-child {
                width: 94%;
                margin-left: 3%;
            }
        }
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: $small;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    .fb-profile {
        flex-direction: column;
        align-items: center;
    }

    .profile__portrait {
        width: 60%;
    }
}

@media all and (min-width: 750px) {
    .fb-profile {
        flex-direction: row;
        align-items: center;
        .profile__portrait {
            margin-left: 15%;
        }
        .profile__text {
            margin-right: 15%;
        }
    }
}

@media all and (min-width: 750px) and (max-width: 900px) {
    html {
        font-size: 20px;
    }
}

@media all and (max-width: 900px) {
    .fb-about-me {
        display: flex;
        flex-wrap: wrap;

        h2 {
            text-align: center;
        }

        &__item {
            font-size: 0.9rem;
        }
    }
}

@media all and (min-width: 900px) {
    html {
        font-size: 22px;
    }
    
}
