/* ---------------------------------- */
/*                tables              */
/* ---------------------------------- */


.table-skills {
    margin:$huge;
}

th {
    border-bottom: $nano solid $color-table-border;
    padding: $small;
}

td {
    text-align: right;
    padding: $small $huge 0 0;
}
