/* ---------------------------------- */
/*                tables              */
/* ---------------------------------- */

th, td {
    border-bottom: 1px solid $noble;
  }

th {
    border-bottom: $nano solid $color-table-border;
    padding: $nano;
}

td {
    text-align: right;
    padding: $tiny $nano 0 0;
}

tr:hover {background-color: $color-highlight-row;}

.table-field-center {
    padding-right: 4em;
    text-align: right;
}

.table-field-left {
    padding-left: 1em;
    text-align: left;
}